{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "ssm:GetParameter",
      "Resource": [
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/DATABASE_URL",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/DIRECT_URL",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/NEXTAUTH_SECRET",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/NEXTAUTH_URL",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/GOOGLE_CLIENT_ID",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/GOOGLE_CLIENT_SECRET",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/ACCESS_KEY_ID",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/SECRET_ACCESS_KEY",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/REGION",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/STRIPE_SECRET_KEY",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/PRICE_ID_TEST_100_CREDITS",
        "arn:aws:ssm:<region>:<role_id>:parameter/amplify/shared/<domain_id>/STRIPE_WEBHOOK_SECRET"
      ]
    }
  ]
}